body {
    font-size: 1rem; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 1.25rem 0;
    background-color: #99582A ;
    color: #fff;
    width: 100%;
}

  .nav_bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1.031rem 5.75rem ;
  }
  
  .nav_bar #logo {
    margin-right: 4.063rem;
  }

  .nav_bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
  }

  .nav_bar ul li {
    margin-right: 2.813rem;
    color: #1F1208;
  }

  .nav_bar ul li:last-child {
    margin-right: 0;
  }

  .sub_nav_bar {
    margin-left: auto;
  }
  
  .sub_nav_bar ul {
    list-style: none;
    padding: 0;
    margin: 0 ;
    display: flex;
  }
  
  .sub_nav_bar ul li {
    margin-right: 2.188rem;
  }
  .sub_nav_bar ul li:last-child {
    margin-right: 0;
  }


/* Container */
.container {
  background-color: #f8f8f7;
}
.container_slider{
  display: flex;
}

.container_slider img{
  position: relative;
  width: 100%;
}

.container_slider button {
  position: absolute;
  width: 20.694vw;
  height: 7.468354430379747vh;
  font-size: 1.667vw;
  color: #99582A;
  background-color: #FFFF;
  border-radius: 5px;
  border: none;
  margin-left: 6.389vw;
  margin-top: 66.45569620253164vh;
}

.container_slider button:active {
  background-color: #99582A;
  color: #FFFF;
}

/* CONTAINER01 */
.container-01 {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: center;

}

.container-sub-01 {
  position: relative;
  display: flex;
  margin-right: 55px;
}

.container-01 img {
  width: 41.667vw;
  height: 75.9493670886076vh;
}

#container_01_button_01 {
  position: absolute;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  padding: 15px 35px ;
  border: 1.5px solid #fff ;
  cursor: pointer;
  margin-left: 2.222vw;
  margin-top: 61.64556962025316vh; 
}

.container-sub-02 {
  position: relative;
  display: flex;
}

#container_01_button_02{
  position: absolute;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  padding: 15px 35px ;
  border: 1.5px solid #fff ;
  cursor: pointer;
  margin-left: 2.222vw;
  margin-top: 61.64556962025316vh; 
}

#container_01_button_01:active {
  color: #000 ;
  background-color: #fff;
}

#container_01_button_02:active {
  color: #000 ;
  background-color: #fff;
}

/* CONTAINER02 */

.container-section-02-title {
  margin-left: 92px;
}

.container-section-02-title h1 {

}

.container-setlist {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.container-list {
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 405px;
  border-radius: 10px;

}

.container-list:last-child {
  margin-right: 0px;
}

.container-list img{
  width: 405px;
  height: auto;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

#rating-star {
  width: 120px;
  height: 16px;
  margin-left: 24px;
}

#rating-count{
  margin-left: 16px;
  color: #9f9d9b;
}

.category {
  margin-top: 20px;
  margin-left: 24px;
  color: #99582A;
  margin-bottom: 0px;
}

.name {
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 0px;
}

.price {
  margin-top: 20px;
  margin-left: 24px;
}

#add_to_cart {
  width: 357px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 24px;
  margin-bottom: 24px;
  font-size: 22px;
  background-color: transparent;
  color: #99582A;
  border: 1px solid #99582A;
  cursor: pointer;
}

#add_to_cart:active {
  color: #fff;
  background-color: #99582A;
}


/* Container 03 */
.container-03 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-03 img {
  width: 405px;
  height: 500px;
  margin-right: 20px;
}

.container-03 img:last-child {
  margin-right: 0px; 
}

/* Container 04 */
.container-04 {
  margin-bottom: 0px;
}
.container-04 img {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Container 05 */
.container-05 img {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Container 06 */
.container-06 img {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Container 07 */
.container-07 img {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Container 08 */
.container-08 img {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Container 09 */
.container-09 img {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Container 10 */

.container-10 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-10 img {
  width: 100%;
  position: relative;
}

#email-submit {
  position: absolute;
  display: flex;
  margin-top: 100px;
}

#email-submit input {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 38.472vw;
  height: 9.113924050632912vh;
  padding-left: 20px;
  font-size: 20px;

}

#email-submit input::placeholder {
  color: #fff;
  font-size: 20px;
}

#email-submit button {
  background-color: #fff;
  color: #99582A;
  font-weight: bold;
  font-size: 1.667vw ;
  width: 15.208vw;
  border: none;
  border-radius: 5px;
  margin-left: 2.639vw;

}
#email-submit button:active {
  color: #fff;
  background-color: #99582A; 
}
/* Footer */
footer {
    background-color:#99582A ;
    color: white;
    height: auto;
    margin: 0;
    padding: 3.75rem 5.75rem;
    bottom: 0;
    left: 0;
}
  
.footer_content {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}


 .footer_section {
    text-align: left;
}

.footer_section h2 {
    margin-top: 0;
    color: #fff;
    margin-bottom: 1.563rem;
    font-size: 22px;
}
  
.footer_section h4 {
    color: #fff;
    margin-bottom: 0;
}

.footer_section ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.footer_section li {
     margin-bottom: 1.25rem ;
}

.footer_section li p{
    margin-bottom: 0;
    color: #fff;
    font-weight: lighter;
  }

  #footer_contact_list {
    color: #fff;
    margin-bottom: 1.25rem;
    font-weight: lighter;
  }

  #footer_contact_title {
    color: #fff;
    margin-bottom: 0.625rem;
    font-weight: bolder;
  }

  .footer_section a {
      color: white;
      text-decoration: none;
      margin-left: 0;
      margin-right: 1.536rem;
      margin-bottom: 1.25rem;
  }
  
#footer_logo {
    margin-bottom: 50px;
}
  