* {
  font-size: 1rem;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Caveat', cursive;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.header {
  text-align: center;
  padding: 1.25rem 0;
  background-color: #99582A;
  color: #fff;
  width: 100%;
}

a {
  text-decoration-line: none;
  color: #000;
}

.nav_bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1.031rem 5.75rem;
}

.nav_bar #logo {
  margin-right: 4.063rem;
}

.nav_bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

}

.nav_bar ul li {
  margin-right: 2.813rem;
  color: #1F1208;
}

.nav_bar ul li:last-child {
  margin-right: 0;
}

.sub_nav_bar {
  margin-left: auto;
}

.sub_nav_bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.sub_nav_bar ul li {
  margin-right: 2.188rem;
}

.sub_nav_bar ul li:last-child {
  margin-right: 0;
}

.search-bar-container {
  height: 24px;
  display: flex;
  cursor: pointer;
  background: transparent;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rbga(0, 0, 0, 0.3);
}

.search-bar-container:hover input {
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 25px rbga(0, 0, 0, 0.3);
  text-align: center;
  margin-right: 30px;
}

.search-bar-container input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
  text-align: center;
  margin-bottom: 10px;
}


/* email-input */
/* Container 10 */

.container-10 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-10 img {
  width: 100%;
  position: relative;
}

#email-submit {
  position: absolute;
  display: flex;
  margin-top: 100px;
}

#email-submit input {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 38.472vw;
  height: 9.113924050632912vh;
  padding-left: 20px;
  font-size: 20px;

}

#email-submit input::placeholder {
  color: #fff;
  font-size: 20px;
}

#email-submit button {
  background-color: #fff;
  color: #99582A;
  font-weight: bold;
  font-size: 1.667vw;
  width: 15.208vw;
  border: none;
  border-radius: 5px;
  margin-left: 2.639vw;

}

#email-submit button:active {
  color: #fff;
  background-color: #99582A;
}



/* Footer */
footer {
  background-color: #99582A;
  color: white;
  height: auto;
  margin: 0;
  padding: 3.75rem 5.75rem;
  bottom: 0;
  left: 0;
}

.footer_content {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}


.footer_section {
  text-align: left;
}

.footer_section h2 {
  margin-top: 0;
  color: #fff;
  margin-bottom: 1.563rem;
  font-size: 22px;
}

.footer_section h4 {
  color: #fff;
  margin-bottom: 0;
}

.footer_section ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.footer_section li {
  margin-bottom: 1.25rem;
}

.footer_section li p {
  margin-bottom: 0;
  color: #fff;
  font-weight: lighter;
}

#footer_contact_list {
  color: #fff;
  margin-bottom: 1.25rem;
  font-weight: lighter;
}

#footer_contact_title {
  color: #fff;
  margin-bottom: 0.625rem;
  font-weight: bolder;
}

.footer_section a {
  color: white;
  text-decoration: none;
  margin-left: 0;
  margin-right: 1.536rem;
  margin-bottom: 1.25rem;
}

#footer_logo {
  margin-bottom: 50px;
}